@import "@radix-ui/colors/mint-dark.css";
@import "@radix-ui/colors/mint.css";

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--color-base: var(--mint-1);
	--color-bg-subtle: var(--mint-2);
	--color-bg: var(--mint-3);
	--color-bg-hover: var(--mint-4);
	--color-bg-active: var(--mint-5);
	--color-line: var(--mint-6);
	--color-border: var(--mint-7);
	--color-border-hover: var(--mint-8);
	--color-solid: var(--mint-9);
	--color-solid-hover: var(--mint-10);
	--color-text: var(--mint-11);
	--color-text-contrast: var(--mint-12);
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
}